<div class="project-list"
     data-aos="fade-down"
     data-aos-duration="1000">
  <div class="row mb-4">

    <div class="col-md-4 project-item">
      <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
          <div class="project-name">Project 1</div>
        </div>
        <div class="card-footer bg-primary">
          <div>
            <i class="fas fa-code"></i>
            <span class="project-status">Running</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 project-item">
      <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
          <div class="project-name">Project 2</div>
        </div>
        <div class="card-footer">
          <div>
            <i class="fas fa-check"></i>
            <span class="project-status">Closed</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 project-item">
      <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
          <div class="project-name">Project 3</div>
        </div>
        <div class="card-footer">
          <div>
            <i class="fas fa-check"></i>
            <span class="project-status">Closed</span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row mb-4">

    <div class="col-md-4 project-item">
      <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
          <div class="project-name">Project 1</div>
        </div>
        <div class="card-footer bg-primary">
          <div>
            <i class="fas fa-code"></i>
            <span class="project-status">Running</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 project-item">
      <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
          <div class="project-name">Project 2</div>
        </div>
        <div class="card-footer">
          <div>
            <i class="fas fa-check"></i>
            <span class="project-status">Closed</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 project-item">
      <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
          <div class="project-name">Project 3</div>
        </div>
        <div class="card-footer">
          <div>
            <i class="fas fa-check"></i>
            <span class="project-status">Closed</span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row mb-4">

    <div class="col-md-4 project-item">
      <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
          <div class="project-name">Project 1</div>
        </div>
        <div class="card-footer bg-primary">
          <div>
            <i class="fas fa-code"></i>
            <span class="project-status">Running</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 project-item">
      <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
          <div class="project-name">Project 2</div>
        </div>
        <div class="card-footer">
          <div>
            <i class="fas fa-check"></i>
            <span class="project-status">Closed</span>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 project-item">
      <div class="card">
        <div class="card-header"></div>
        <div class="card-body">
          <div class="project-name">Project 3</div>
        </div>
        <div class="card-footer">
          <div>
            <i class="fas fa-check"></i>
            <span class="project-status">Closed</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
