<div class="jumbotron">
  <div class="row">
    <div class="col-md-3">
      <button routerLink="/project" class="btn btn-success">Projects</button>
    </div>
    <div class="col-md-3">
      <button routerLink="/user" class="btn btn-danger">Users</button>
    </div>
    <div class="col-md-3">
      <button routerLink="/mail" class="btn btn-primary">Mails</button>
    </div>
    <div class="col-md-3">
      <button routerLink="/task" class="btn btn-warning">Tasks</button>
    </div>
  </div>
</div>
