<div class="jumbotron">
  <div class="row">
    <div class="col-md-3">
      <button routerLink="/projects" class="btn btn-success">Projects</button>
    </div>
    <div class="col-md-3">
      <button routerLink="/users" class="btn btn-danger">Users</button>
    </div>
    <div class="col-md-3">
      <button routerLink="/mails" class="btn btn-primary">Mails</button>
    </div>
    <div class="col-md-3">
      <button routerLink="/tasks" class="btn btn-warning">Tasks</button>
    </div>
  </div>
</div>
