@import "utility";

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-background;
}

.content {
  padding-top: $height-header;

  &-main {
    margin-top: 35px;
  }
}

i {
  margin-right: .7rem;
}

/* Common hover padding animation horizontal */
.hover-horizontal {
  &:hover {
    padding: .5rem 2.5rem;
    transition: all .7s;
  }
}
