/* Color */
$color-loading-component: rgba(18, 18, 18, .439);

$color-background: #f8f9fa;
$color-header-background: #563d7c;

/* Color */

/* Space */

$height-header: 70px;

/* Space */
