/* Color */
$color-loading-component: rgba(18, 18, 18, .439);

$color-background: #f8f9fa;
$color-header-background: #563d7c;
$color-gradient: linear-gradient(to right, #11998e, #38ef7d);

/* Color */

/* Space */

$height-header: 70px;

/* Space */
